body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 0.625rem;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 1.25rem;
  margin-bottom: 4rem;
}

img {
  max-width: 100%;
  display: block;
}
